<nav class="navbar navbar-expand-lg gray">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <a routerLink="" alt="Home">Home</a>
            <a routerLink="/edit-profile" alt="Edit Profile" *ngIf="userauth">Edit Profile</a>
            <a routerLink="/signup" alt="Sign Up" *ngIf="!userauth" >Sign Up</a>
            <a routerLink="/login" alt="Login" *ngIf="!userauth" >Login</a>
            <a alt="Logout" *ngIf="userauth" (click)="logout()">Logout</a>
        </ul>
    </div>
</nav>