
<div *ngIf="!userexists" class="flexcenter">
  <svg *ngIf="initialpageload" class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
    <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
  </svg>
  <h1 *ngIf="!userexists && !initialpageload">Sorry no user find</h1>
</div>

<div *ngIf="userexists">
  <header class="d-print-none">
    <div class="container text-center text-lg-left">
      <div class="py-3 clearfix">

      </div>
    </div>
  </header>
  <div class="page-content">
    <div class="container">
      <div class="cover shadow-lg bg-white">
        <div class="cover-bg p-3 p-lg-4 text-white">
          <div class="row">
            <div class="col-lg-4 col-md-5">
              <div class="avatar hover-effect bg-white shadow-sm p-1"><img src={{this.user.Personal_Details.imgurl}} width="200"
                  height="200" /></div>
            </div>
            <div class="col-lg-8 col-md-7 text-center text-md-start">
              <h2 class="h1 mt-2" data-aos="fade-left" data-aos-delay="0">{{user.Personal_Details.first_name +' ' +
                user.Personal_Details.last_name}}</h2>
              <p data-aos="fade-left" data-aos-delay="100">Graphic Designer & Web Developer</p>
              <div class="site-nav">
                <nav role="navigation" class="ulnav">
                  <ul *ngFor="let sm of user.Social_media">
                    <li *ngIf="sm.site=='Twitter'" class="nav-item"><a class="nav-link"
                        href={{sm.link}} title="Twitter"><i class="fab fa-twitter"></i><span
                          class="menu-title sr-only">Twitter</span></a>
                    </li>
                    <li *ngIf="sm.site=='Facebook'" class="nav-item"><a class="nav-link"
                        href={{sm.link}} title="Facebook"><i
                          class="fab fa-facebook"></i><span class="menu-title sr-only">Facebook</span></a>
                    </li>
                    <li *ngIf="sm.site=='Instagram'" class="nav-item"><a class="nav-link"
                        href={{sm.link}} title="Instagram"><i
                          class="fab fa-instagram"></i><span class="menu-title sr-only">Instagram</span></a>
                    </li>
                    <li *ngIf="sm.site=='Github'" class="nav-item"><a class="nav-link"
                        href={{sm.link}} title="Github"><i class="fab fa-github"></i><span
                          class="menu-title sr-only">Github</span></a>
                    </li>
                  </ul>
                </nav>
              </div>
              <!-- <div class="d-print-none" data-aos="fade-left" data-aos-delay="200"><a class="btn btn-light text-dark shadow-sm mt-1 me-1" href="right-resume.pdf" target="_blank">Download CV</a><a class="btn btn-success shadow-sm mt-1" href="#contact">Hire Me</a></div> -->
            </div>
            <div *ngIf="editable" class="editcontainer">
              <button (click)="editbutton()"> Edit </button>
            </div>

          </div>
        </div>
        <div class="about-section pt-4 px-3 px-lg-4 mt-1">
          <div class="row">
            <div class="col-md-6">
              <h2 class="h3 mb-3">About Me</h2>
              <p>{{user.Personal_Details.about}}</p>
            </div>
            <div class="col-md-5 offset-md-1">
              <div class="row mt-2">

                <div class="col-sm-4">
                  <div class="pb-1">Email</div>
                </div>
                <div class="col-sm-8">
                  <div class="pb-1 text-secondary">{{user.Personal_Details.email}}</div>
                </div>
                <div class="col-sm-4">
                  <div class="pb-1">Phone</div>
                </div>
                <div class="col-sm-8">
                  <div class="pb-1 text-secondary">{{user.Personal_Details.phone}}</div>
                </div>

              </div>
            </div>
          </div> 
          <hr class="d-print-none" />
          <div class="work-experience-section px-3 px-lg-4">
            <h2 class="h3 mb-4">Work Experience</h2>
            <div class="timeline" *ngFor="let work of user.Work_experience;">
              <div class="timeline-card timeline-card-primary card shadow-sm">
                <div class="card-body">
                  <div class="h5 mb-1">{{work.Job_role}} <span class="text-muted h6">at
                      {{work.Organisation_name}}</span>
                  </div>
                  <div class="text-muted text-small mb-2">{{work.From}} - {{work.Till}}</div>
                  <div>{{work.Job_Description}}</div>
                </div>

              </div>
            </div>
            <hr class="d-print-none" />
            <div class="page-break"></div>
          </div>
            <div class="education-section px-3 px-lg-4 pb-4">
              <h2 class="h3 mb-4">Education</h2>
              <div class="timeline" *ngFor="let work of user.Academic_details;">
                <div class="timeline-card timeline-card-success card shadow-sm">
                  <div class="card-body">
                    <div class="h5 mb-1">{{work.Specialisation}} <span class="text-muted h6">at
                        {{work.Organisation_name}}</span></div>
                    <div class="text-muted text-small mb-2">{{work.From}} - {{work.Till}}</div>
                    <div>{{work.Academic_Description}}</div>
                  </div>
                </div>

              </div>
            </div>
            <hr class="d-print-none" />

          
        </div>
      </div>
    </div>