<div class="container">
    <div *ngIf="!online" class="flexcenter">
        <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
          <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
        </svg>
        <h6>Check Network connection if it takes long time to load</h6>
      </div>
    <div *ngIf="online" class="row gutters">
        <form class="card-body" #form="ngForm" ngNativeValidate >
            <div>
                <div class="card h-100">
                    <div class="card-body" ngModelGroup="Personal_Details">
                        <div class="account-settings">
                            <div class="user-profile">
                                
                                <div class="avatar-upload">
                                    <div class="avatar-edit">
                                        <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" (change)="uploadimg($event)" />
                                        <label for="imageUpload"></label>
                                    </div>
                                    <div class="avatar-preview">
                                        <div id="imagePreview" style="background-image: url({{this.userimgpath}});">
                                        </div>
                                    </div>
                                </div>
                                
                                <h5 class="user-name">{{current_user.Personal_Details.first_name}} {{current_user.Personal_Details.last_name}}</h5>
                                <h6 class="user-email">{{current_user.Personal_Details.email}}</h6>
                            </div>
                            <div class="about">
                                <h5>About</h5>
                                <textarea type="text" name="about" class="form-control" rows="3" placeholder="About you"
                                    ngModel="{{current_user.Personal_Details.about}}"></textarea>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                <div class="card h-100">
                    <div class="row gutters" ngModelGroup="Personal_Details">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h6 class="mb-2 text-primary">Personal Details</h6>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="fullName">First Name</label>
                                <input type="text" name="first_name" class="form-control" id="first_name"
                                    placeholder="Enter first name" ngModel="{{current_user.Personal_Details.first_name}}" required>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="fullName">Last Name</label>
                                <input type="text" name="last_name" class="form-control" id="last_name"
                                    placeholder="Enter Last name" ngModel="{{current_user.Personal_Details.last_name}}">
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <Label for="email">Email</Label>
                                <input readonly type="email" class="form-control" name="email" placeholder="Enter email ID"
                                    ngModel="{{current_user.Personal_Details.email}}">
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="phone">Phone</label>
                                <input type="text" class="form-control" name="phone" placeholder="Enter phone number"
                                    ngModel="{{current_user.Personal_Details.phone}}">
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="website">Website URL</label>
                                <input type="url" class="form-control" name="website" placeholder="Website url"
                                    ngModel="{{current_user.Personal_Details.website}}">
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="website">Profile Type</label>
                                <select  [disabled]="!this.adminlogin" class="form-control" name="type" ngModel="{{current_user.Personal_Details.type}}">
                                    <option value="Elite">Elite</option>
                                    <option value="General">General</option>
                                </select>
                                
                            </div>
                        </div>
                    </div>
                    <div class="row gutters">

                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h6 class="mb-2 text-primary">Academic Details</h6>
                        </div>
                    </div>
                    <div *ngFor="let acd of current_user.Academic_details;let i=index;">
                        <div class="row gutters" ngModelGroup="Academic_details_{{i}}">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h6 class="mb-2 text-primary">Academics {{i+1}}</h6>
                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="fullName">School/College Name</label>
                                    <input type="text" class="form-control" name="Organisation_name"
                                        placeholder="Enter School/College Name" ngModel="{{acd.Organisation_name}}" required>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="eMail">Specialisation</label>
                                    <input type="text" class="form-control" name="Specialisation"
                                        placeholder="Enter Specialisation" ngModel="{{acd.Specialisation}}" required>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="eMail">From</label>
                                    <input type="number" min="1900" max="2050" class="form-control" name="From" placeholder="When did you start"
                                        ngModel="{{acd.From}}" required>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="phone">Till</label>
                                    <input type="number" min="1900" max="2050" class="form-control" name="Till" placeholder="when did you end"
                                        ngModel="{{acd.Till}}" required>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="phone">Academic Description</label>
                                    <input type="text" class="form-control description" name="Academic_Description"
                                        placeholder="Describe about your activities"
                                        ngModel="{{acd.Academic_Description}}">
                                </div>
                            </div>
                            <div class="col d-flex justify-content-end align-items-end">

                                <button class="btn btn-secondary mybutton" (click)="remove_Data('Academic_details',i)">remove</button>
                            </div>
                            
                        </div>
                    </div>
                    <button class="btn btn-primary mybutton" (click)="add_Data('Academic_details')">add</button>
                    <div class="row gutters">

                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h6 class="mb-2 text-primary">Work experience</h6>
                        </div>
                    </div>
                    <div *ngFor="let we of current_user.Work_experience;let i=index;">
                        <div class="row gutters" ngModelGroup="Work_experience_{{i}}">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h6 class="mb-2 text-primary">Experience {{i+1}}</h6>

                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="fullName">Organisation</label>
                                    <input type="text" class="form-control" name="Organisation_name"
                                        placeholder="Enter Organisation name" ngModel="{{we.Organisation_name}}" required>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="eMail">Job role</label>
                                    <input type="text" class="form-control" name="Job_role" placeholder="Enter Job Role"
                                        ngModel="{{we.Job_role}}" required>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="eMail">From</label>
                                    <input type="number" min="1900" max="2050" class="form-control" name="From" placeholder="When did you start"
                                        ngModel="{{we.From}}" required>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="phone">Till</label>
                                    <input type="number" min="1900" max="2050" class="form-control" name="Till" placeholder="when did you end"
                                        ngModel="{{we.Till}}" required>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="phone">Job Description</label>
                                    <input type="text" class="form-control description" name="Job_Description"
                                        placeholder="Describe about your job" ngModel="{{we.Job_Description}}">
                                </div>
                            </div>
                            <div class="col d-flex justify-content-end align-items-end">

                                <button class="btn btn-secondary mybutton" (click)="remove_Data('Work_experience',i)">remove</button>
                            </div>
                        </div>
                    </div>
                    <button (click)="add_Data('Work_experience')" class="btn btn-primary mybutton">add</button>
                    <div class="row gutters">

                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h6 class="mb-2 text-primary">Social media</h6>
                        </div>
                    </div>
                    <div *ngFor="let sm of current_user.Social_media;let i=index;">


                        <div class="row gutters" ngModelGroup="Social_media_{{i}}">


                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group flexclass">

                                    <select class="form-control" name="site" ngModel="{{sm.site}}" required>
                                        <option value="Github">Github</option>
                                        <option value="Twitter">Twitter</option>
                                        <option value="Facebook">Facebook</option>
                                        <option value="Instagram">Instagram</option>
                                    </select>
                                    <input type="text" class="form-control" name="link"
                                        placeholder="Enter Social media link" ngModel="{{sm.link}}" required>
                                        <button class="btn btn-secondary mybutton btnmargin" (click)="remove_Data('Social_media',i)">remove</button>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                    <button (click)="add_Data('Social_media')" class="btn btn-primary mybutton">add</button>

                    <div class="row gutters">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="text-right">
                                <span class="loading-btn-wrapper">
                                    <button  [ngClass]="getupdateclass()" type="submit" id="submit" (click)="submitForm(form)" name="submit" >
                                    <span class="loading-btn__text">
                                        Update  
                                      </span>
                                    </button>
                                    <span *ngIf="success">Success</span>
                                    <span *ngIf="pending">Pending</span>
                                    <span *ngIf="failure">Failure</span>
                                  </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>