<div class="maincontainer">
    <div class="headmain">
        <img src="assets/images/main logo.png" alt="logo" style="width:100%; opacity: 0.8">
    </div>
    <header class="parallax">
        <div class="contain">
            <div class="container mb-3">
                <div class="heading">
                    <h1>Electrical and Electronics Engineering</h1>
                </div>
            </div>
           
            </div>
        </header>
      
       <!--image slider start-->
         
    <!--slider code-->
    <div class="container">
        <div id="myCarousel" class="carousel_slide" data-ride="carousel">
          <!-- Indicators -->
          

          <!-- Wrapper for slides -->
          <div class="carousel-inner" [ngStyle]="{'left':-activeindex*100+'%','transition':activeindex==0?'0s':'1s'}" role="listbox">
              <img [src]="getimgsrc(i)"  *ngFor="let i of [1,2,3,4,5,6,7,8,9,10];">
          </div>

          <!-- Left and right controls -->
          <a class="left carousel-control" href="#myCarousel" data-slide="prev" >
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next" >
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>

<!-- batch -->
<section>
  <div class="container">
<div class="leftcontainer">

  <div class="cards row" >
      <div class="card-container" >
          <div  >
          <div class="card border-primary mb-4">
              
              <div class="card-header">
                  <h3 class="card-title">Elite Alumnies</h3>
              </div>
              <div class="card-body text-primary" >
                  <a routerLink="/profile/elite" class="btn btn-primary">View all</a>
              </div>
          </div>
      </div>
  </div>

  </div>
  
      <div class="cards row" *ngFor="let year of batch;let i=index;">
          <div class="card-container" >
              <div  >
              <div class="card border-primary mb-4">
                  
                  <div class="card-header">
                      <h3 class="card-title">Batch {{i+1}}</h3>
                  </div>
                  <div class="card-body text-primary" >
                      <p class="card-text">{{year.start_year}} to {{year.end_year}}</p>
                      <a routerLink="/profile/{{year.end_year}}" class="btn btn-primary">View all</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  </div>
</div>
</section>
<!--about us-->
<section class="about">
     <div class="container">
        <div class="row">
           <div class="col-lg-6">
              <div class="author-img">
                 <img src="assets/images/eee/4.jpg" class="img-fluid" alt="">
              </div>
           </div>
           <div class="col-lg-6 d-flex flex-column justify-content-top">
              <div class="section-title mt-4">
                 <h2>About Us</h2>
                 <p>
                      The department was incepted in the year 1996 with Bachelors degree in the faculty of Electrical
                      and Electronics Engineering and the same is accredited by National Board of Accreditation (NBA) for
                      three times. The department also offers postgraduate programs in the faculty of electrical engineering
                      namely Masters in Engineering in Power Electronics and Drives since 2003 and Power systems engineering 
                      since 2012. The sanctioned student intake is as follows.
                  </p>
              </div>
           </div>
        </div>
     </div>
  </section>
  <!--vision-->
<section class="about">
     <div class="container">
        <div class="row">
           <div class="col-lg-6 d-flex flex-column justify-content-top">
              <div class="section-title mt-4">
                 <h2>Vision</h2>
                 <p>
                      To promote the department of Electrical and Electronics Engineering as a pioneer in
                       education and research by imparting quality education, creating and upgrading the academic
                        facilities and inculcating professional values to the students to face the challenges in 
                        the dynamic global society.
                  </p>
              </div>
           </div>
           <div class="col-lg-6">
         
                 <iframe  src="https://www.youtube.com/embed/wTyRdYfVBoY" width="100%" height="300px"></iframe>
              </div>
           </div>
        </div>

  </section>

      <section class="site-section" id="about">
        <div class="container">
          <div class="row">
            <div class="block-2 teal mission" style="background-color: #18185e; color: #FFFFFF">
                <span class="wrap-icon" style="background-color: #3c3ca3">
                    <span class="icon-cog"></span>
                </span>
              <h2>MISSION</h2>
              <ul>
                <li>To attainutmost qualities of teaching-learning process and provide a vibrant environment for the students to exhibit their fullest potential in the field of Electrical and Electronics Engineering.</li>
                <li>To improve research and development skills among students towards providing technical solutions with ethical values to meet social challenges.</li>
                <li>To develop the students to face the technological requirements of the industry with professional values and make them employable and to impart the spirit of entrepreneurship for their successful career.</li>
              </ul>
            </div>
          </div>
        </div>
      </section>

    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <h2 class="footer-heading mb-5">About Us</h2>
                <p class="mb-2 footerinfo">Providing the best in Electrical Knowledge since 1995. </p>
          </div>
          <div class="col-md-9 ml-auto">
            <div class="row">
              <div class="col-md-6 ml-auto">
                <h2 class="footer-heading mb-5">Contact Information</h2>
                <ul class="list-unstyled footerinfo">
                    <li><span class="glyphicon glyphicon-map-marker">  St. Joseph's College of Engineering, OMR, Chennai -119.</span></li>
                    <li><span class="glyphicon glyphicon-earphone"></span>  +91-44-24500792</li>
                    <li><span class="glyphicon glyphicon-envelope"></span>  eee@stjosephs.ac.in</li>
                </ul>
              </div>
              
            </div>
          </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <div class="border-top pt-5">
              <p>
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> St. Joseph's College of Engineering, OMR, Chennai - 119.
            </p>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
  