<!-- Section: Design Block -->
<section>
    <!-- Background image -->
    <div class="p-5 bg-image" style="
          background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
          height: 300px;
          "></div>
    <!-- Background image -->

    <div class="card mx-4 mx-md-5 shadow-5-strong" style="
          margin-top: -100px;
          background: hsla(0, 0%, 100%, 0.8);
          backdrop-filter: blur(30px);
          ">
        <div class="card-body py-5 px-md-5">

            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <h2 class="fw-bold mb-5 text-center">Sign up now</h2>
                    <form [formGroup]="Signup" (ngSubmit)="onsubmit()">
                        <!-- 2 column grid layout with text inputs for the first and last names -->
                        <div class="row">
                            <div class="col-md-6 mb-4">
                                <div class="form-outline">
                                    <label class="form-label" for="form3Example1">First name</label>
                                    <input type="text" id="form3Example1" formControlName="fname"
                                        class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-6 mb-4">
                                <div class="form-outline">
                                    <label class="form-label" for="form3Example2">Last name</label>
                                    <input type="text" id="form3Example2" class="form-control"
                                        formControlName="lname" />

                                </div>
                            </div>
                        </div>

                        <div>

                            <div class="row gutters" ngModelGroup="Social_media_1">
    
    
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group flexclass">
                                        <select class="form-control" name="site" ngModel>
                                            <option value="Github">Github</option>
                                            <option value="Twitter">Twitter</option>
                                            <option value="Facebook">Facebook</option>
                                            <option value="Instagram">Instagram</option>
                                        </select>
                                    </div>
                                </div>
    
                            </div>
                        </div>

                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="form3Example3">Email address</label>
                            <input type="email" class="form-control" formControlName="email" />

                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="form3Example4">Password</label>
                            <input type="password" class="form-control" formControlName="pass" />

                        </div>

                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary btn-block mb-4">
                            Sign up
                        </button>
                        <p class="mb-5 pb-lg-2" style="color: #393f81;">Already have an account? <a routerLink="/login"
                                style="color: #393f81;">Login</a>
                        </p>

                    </form>
                    <div class="alert alert-success" *ngIf="message">
                        <h5>{{message}}</h5>
                    </div>
                    <div class="alert alert-danger" *ngIf="error">
                        <h5>{{error.message}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section: Design Block -->